.block-display {
    display: block;
    background-color: antiquewhite;
}

.inline-display {
    display: inline;
    background-color: aquamarine;
    word-spacing: 0.25cm;
    transition: 1s;
}

.flex-display {
    display: flex;
    background-color: chocolate;
}

.grid-display {
    display: grid;
    background-color: rgb(208, 79, 105);
}

body {
    background-color: lightblue;
}

@media (min-width: 70rem) {
    body {
        background-color: rgb(180, 228, 180);
    }
}

@media (min-width: 90rem) {
    body {
        background-color: rgb(216, 150, 150);
    }
}

.grid-container {

    display: grid;
    column-gap: 2rem;
    grid-template-columns: auto auto auto auto;
    background-color: #68cea3;
    padding: 1.5rem;
}

.grid-item {
    background-color: rgba(86, 199, 219, 0.8);
    border: 0.2rem solid rgba(94, 1, 87, 0.8);
    padding: 1.5rem;
    font: bold;
    font-size: 2rem;
    text-align: center;
}

.container {
    width: 100%;
    height: 20rem;
    position: relative;
    background-color: #a79c9c;
}

.empty-colored-div {
    height: 30rem;
    background-color: #ccc;
}

.colored-button {
    background-color: blue;
    color: white;
    padding: 0.8rem 1.5rem;
    text-align: center;
    cursor: pointer;
    transition: 2s;
    border-radius: 1rem;
}

.colored-button:hover {
    background-color: rgb(193, 46, 46);
    transform: rotate(360deg);
}

.box {
    width: 4rem;
    height: 2rem;
    background-color: #c9c6f7;
    color: rgb(192, 63, 63);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.animated-circle {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  animation: click 5s infinite;
  display: flex;
  align-items: center;
  text-align: center;
  color: white;
  cursor: pointer;
  font-size: 2rem;
}

@keyframes click {
    0% {
      background-color: #3498db;
      transform: scale(1);
    }
    25% {
      background-color: #9b59b6;
      transform: scale(1.1);
    }
    50% {
      background-color: #e74c3c;
      transform: scale(1.2);
    }
    75% {
      background-color: #f1c40f;
      transform: scale(1.1);
    }
    100% {
      background-color: #2ecc71;
      transform: scale(1);
    }
  }

.static {
    position: static;
    border: 0.2rem solid red;
}

.relative {
    position: relative;
    top: 1rem;
    left: 2rem;
    border: 0.2rem solid blue;
}

.absolute {
    position: absolute;
    top: 2.5rem;
    left: 1.2rem;
    border: 0.2rem solid rgb(41, 173, 254);
}

.fixed {
    position: fixed;
    bottom: 1.2rem;
    right: 1.2rem;
    border: 0.2rem solid rgb(55, 91, 23);
}

.sticky {
    position: sticky;
    top: 0.7rem;
    border: 0.2rem solid orange;
}

.simple-paragraph {
    font-style: italic;
    padding: 1.5rem;

}

.simple-paragraph::before {
    content: "Paragraph";
}

.simple-paragraph::after {
    content: "*";
    position: absolute;
    right: 30%;
}

.name-input {
    padding: 0.5rem;
    margin: 0.7rem;
    border: 0.2rem solid gray;
}

.name-input:focus {
    border-color: blue;
    outline: none;
    box-shadow: 0 0 0.7rem rgba(159, 55, 150, 0.5);
}

.unorder-list ul li:first-child {
    color: red;
    font-weight: bold;
}

.unorder-list ul li:last-child {
    color: blue;
    font-style: italic;
}

.menu-item {
    color: gray;
    padding: 1rem;
    background-color: red;
    transition: 0.3s ease;
}

.active {
    color: white;
    background-color: green;
}

.menu-item:not(.active) {
    cursor: pointer;
    background-color: black;
}

.menu-item:not(.active):hover {
    background-color: darkgray;
}


.chil-combinator-example>p {
    color: red;
}

.colored-box {
    width: 6rem;
    height: 6rem;
    position: absolute;
}

.red-box {
    background-color: red;
    z-index: -1;
    left: 3rem;
    top: 3rem;
}

.blue-box {
    background-color: blue;
    z-index: 1;
    left: 6rem;
    top: 6rem;
}

.styled-header {
    background-color: bisque;
    text-align: center;
    font-size: large;
    font-style: italic;
}

.main-heading {
    color: rgb(161, 0, 0);
}

.paragraph-text {
    color: rgb(0, 45, 0);
}

.styled-article {
    background-color: aquamarine;
    border: 0.2rem #020000;
    border-radius: 50%;
    text-align: center;
}

.main-images {
    width: 200;
    height: 200;
}

.table0,
.table1,
.table2 {
    border-collapse: collapse;
}

.table0 th,
.table0 td {
    border: 0.2rem solid #020000;
    background-color: aqua;
    padding: 1.5rem;
    text-align: center;
}

.table0 th {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    background-color: #5384ef;
    color: rgb(190, 236, 24);
}

.table1 td,
.table1 th {
    border: 0.2rem solid #090000;
    padding: 0.5rem;
}

.table1 th {
    padding-top: 0.7rem;
    padding-bottom: 1.5rem;
    text-align: left;
    background-color: #42d447;
    color: rgb(226, 0, 0);
}

.table2 td,
.table2 th {
    border: 0.2rem blue;
    border-radius: 0.4rem;
}

.decorative-div {
    border: 0.5rem outset rgba(152, 7, 7, 0.664);
    background-color: rgb(164, 162, 252);
    text-align: center;
}

.iframe {
    border: 0.2rem solid black;
    width: 50%;
    height: 150;
}

#header-section {
    background-color: lightblue;
    color: black;
    padding: 1.5rem;
    text-align: center;
}

.highlighted-text-red {
    color: red;
}

.highlighted-text-violet {
    color: blueviolet;
}

.page-footer {
    background-color: bisque;
}

.simple-paragraph-measures1 {
    font-size: 1rem;
    text-align: left;
    margin-top: 1.2rem;
}

.simple-sub-paragraph-measures1 {
    font-size: 0.8rem;
    text-align: left;
}

.simple-shape-measures1 {
    display: flex;
    justify-content: center;
    gap: 1.2rem;
    margin-top: 2rem;
}

.simple-square-measures1 {
    width: 3rem;
    height: 3rem;
    background-color: #3498db;
}

.simple-circle-measures1 {
    width: 3rem;
    height: 3rem;
    background-color: #e74c3c;
    border-radius: 50%;
}

.simple-paragraph-measures2 {
    font-size: 1.5rem;
    text-align: left;
    margin-top: 1.5rem;
}

.simple-sub-paragraph-measures2 {
    font-size: 2em;
    text-align: left;
}

.simple-shape-measures2 {
    display: flex;
    justify-content: center;
    gap: 10%;
    margin-top: 1.2rem;
}

.simple-square-measures2 {
    width: 5cm;
    height: 5cm;
    background-color: #3498db;
}

.simple-circle-measures2 {
    width: 5rem;
    height: 5rem;
    background-color: #e74c3c;
    border-radius: 50%;
}

.simple-circle-measures3 {
    width: 5vh;
    height: 5vh;
    background-color: #e74c3c;
    border-radius: 50%;
}

.simple-circle-measures4 {
    width: 5vw;
    height: 5vw;
    background-color: #e74c3c;
    border-radius: 50%;
}

.simple-circle-measures5 {
    width: 5vmax;
    height: 5vmax;
    background-color: #99d663ac;
    border-radius: 50%;
}

.simple-circle-measures6 {
    width: 10vi;
    height: 10vi;
    background-color: #3ce7d0;
    border-radius: 50%;
}